{% load bootstrap5 %}
{% bootstrap_css %}

<style>
    h1 {text-align: center;}
    form{text-align: center;}
</style>

<div class="container-fluid">
  {% include "navbar.html" %}
</div>


<h1>Add Friend</h1>
<div class="container">

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</div>
