{% load bootstrap5 %}
{% bootstrap_css %}


<!DOCTYPE html>
<html lang="en">
  <div class="container-fluid">
    {% include "navbar.html" %}
  </div>
  
  <head>
    <meta charset="UTF-8" />
    <title>Note list</title>
  </head>

<style>
  h1 {text-align: center;}
</style>
  <body>
    <h1>Notes</h1>
    
  
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      <div class="row">
      {% if notes %}
        {% for note in notes %}
        <div class="col-sm-3">
        <div class="card "  >
          <div class="card-body">
            <h5 class="card-title">{{note.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">To: {{note.recipient}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">From: {{note.sender}}</h6>
            <p class="card-text">{{note.message}}</p>
          </div>
        </div>
      </div>
        
        {% endfor %}
      {% endif %}
    </div>

      <!-- END SECTION -->
    
  </body>
</html>