{% load bootstrap5 %}
{% bootstrap_css %}

<style>
  h1 {text-align: center;}

</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note list</title>
  </head>
  <div class="container-fluid">
    {% include "navbar.html" %}
  </div>
  
  <body>
    <h1>Notes</h1>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th >To</th>
        <th >From</th>
        <th >Title</th>
        <th >Message</th>
      </tr>
    </thead>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% if notes %}
        {% for note in notes %}
           <tr class="">
            <td>{{ note.recipient }}</td>
            <td>{{ note.sender }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>