<style>
    h1 {text-align: center;}
    form{text-align: center;}
</style>

<h1>Add Friend</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>