<style>
  table.center {
  margin-left: auto; 
  margin-right: auto;
  width: 50%;
}
 th,td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
  tr:hover {background-color: #b7e2e2;}
  h1 {text-align: center;}
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <h1>Friend List</h1>
    <table class="center">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% if friends %}
        {% for friend in friends %}
           <tr>
            <td>{{ friend.name }}</td>
            <td>{{ friend.npm }}</td>
            <td>{{ friend.dob }}</td>
          </tr>
          
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
