<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note list</title>
  </head>
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
  <body>
    <h1>Notes</h1>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% if notes %}
        {% for note in notes %}
           <tr>
            <td>{{ note.recipient }}</td>
            <td>{{ note.sender }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>